<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140737599226-jfonkfpsju61kib64j3e5ch2rsijcmpl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140737599226-jfonkfpsju61kib64j3e5ch2rsijcmpl</string>
	<key>API_KEY</key>
	<string>AIzaSyC7DOCOo5jW19k6_8VPBo8CMITWMNY9j_g</string>
	<key>GCM_SENDER_ID</key>
	<string>140737599226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>stg.rent.car.gulshan.rentACar</string>
	<key>PROJECT_ID</key>
	<string>rent-black-car</string>
	<key>STORAGE_BUCKET</key>
	<string>rent-black-car.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140737599226:ios:ba37eeabb9ab34da509b43</string>
	<key>DATABASE_URL</key>
	<string>https://rent-black-car-default-rtdb.firebaseio.com</string>
</dict>
</plist>